museum2/Library/Artifacts/60/6022af33c3e7b3e5461d05eec8305638 filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/c0/c0cf31ae03de2616165994de4fde923d filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/f4/f4105524666e75c3d86f42e45346a7a9 filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/d3/d3e544f0d47c090385ed574ada13193f filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/fd/fd1e536beed6c0a48a89c336e3d50e1a filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/61/61672c5522a8f2aec660b06f6c3cdaa4 filter=lfs diff=lfs merge=lfs -text
museum2/Library/Artifacts/81/8164a1d6034de898eb3ede48f7f5e879 filter=lfs diff=lfs merge=lfs -text
museum2/Library/PlayerDataCache/Win64/Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
museum2/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
museum2/Library/PlayerDataCache/Win64/Data/sharedassets0.resource filter=lfs diff=lfs merge=lfs -text
museum2/Library/PlayerDataCache/Win64/Data/level0 filter=lfs diff=lfs merge=lfs -text
museum2/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Images/grass.png filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Images/small_grass.png filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/D0602029A1.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/tesla filter=lfs diff=lfs merge=lfs -text
1.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/petersilie.3ds filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/school_bus.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/stadium.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/beddington_full.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/water_museum.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/benz.fbx filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/corn.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Models/tesla.obj filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Fonts/GmarketSansMedium.asset filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Sounds/soccer_sound.mp3 filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Sounds/gameon.wav filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Sounds/soil_inside2.mp3 filter=lfs diff=lfs merge=lfs -text
museum2/Assets/UIs.zip filter=lfs diff=lfs merge=lfs -text
museum2/Assets/Scenes/museum.unity filter=lfs diff=lfs merge=lfs -text
museum2/Build/UnityPlayer.dll filter=lfs diff=lfs merge=lfs -text
museum2/Build/Ecoverse_Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
museum2/Build/Ecoverse_Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
museum2/Build/Ecoverse_Data/sharedassets0.resource filter=lfs diff=lfs merge=lfs -text
museum2/Build/Ecoverse_Data/level0 filter=lfs diff=lfs merge=lfs -text
